<div class="row">
  {{#each definitions as |definition|}}
    {{magic-input
      model=model
      attribute=definition.attribute
      className=definition.className
      label=definition.label
      type=definition.type
      selectFunction=definition.selectFunction
      selectContent=definition.selectContent
      optionValuePath=definition.selectValuePath
      optionLabelPath=definition.selectLabelPath
      errors=errors
      submitted=submitted
      readonly=readonly}}
  {{/each}}
</div>
