<div>
  {{#each definitions as |definition|}}
    {{magic-input
      model=model
      attribute=definition.attribute
      label=definition.label
      type=definition.type
      selectOptions=definition.select
      errors=errors
      submitted=submitted}}
  {{/each}}
</div>
