<button class="add btn btn-success" type="button" name="button" {{action 'addRecord'}}>Add</button>
{{currentPath}}
{{imdt-table
  sortProperties=tableSortPropertiesMC
  content=model
  tableClassNames='table table-striped table-hover'
  columns=tableOptionsMC
  deleteRecord='deleteRecord'
  editRecord='editRecord'
  showRecord='showRecord'}}

{{outlet 'magic-form'}}
