<button class="add btn btn-success" type="button" name="button" {{action 'goToAction' 'add'}}>Add</button>
{{imdt-table
  sortProperties=tableSortPropertiesMC
  content=model
  tableClassNames='table table-striped table-hover'
  columns=tableOptionsMC
  goToAction='goToAction'}}
